@charset "utf-8";

#weixin-tip{display:none; position: fixed; left:0; top:0; background: rgba(0,0,0,0.8); filter:alpha(opacity=80); width: 100%; height:100%; z-index: 100;} 
#weixin-tip p{text-align: center; margin-top: 10%; padding:5%; position: relative;}
#weixin-tip .close{
	color: #fff;
	padding: 5px;
	font: bold 20px/20px simsun;
	text-shadow: 0 1px 0 #ddd;
	position: absolute;
	top: 0; left: 5%;
}
